@tailwind base;
@tailwind components;
@tailwind utilities;

body.light {
    background-color: white;
    color: black;
  }
  
  body.dark {
    background-color: black;
    color: white;
  }

  body.light button {
    background-color: #3b82f6; 
    color: black; 
}

body.dark button {
    background-color: #1f2937; 
    color: white; 
}
